{% extends 'base1.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
    <div class="navbar">

        <div class="links">
           <a href="javascript:history.go(-1)" class="link">back</a>
        </div>


        <div class="links">
            <a href="{% url 'backstage_already_login' %}" class="link">Home</a>
            <a href="{% url 'to_User_Management' %}" class="link">用户管理</a>
            <a href="{% url 'to_Product_Management' %}" class="link">商品管理</a>
            <a href="{% url 'to_order_management' %}" class="link">订单管理</a>
        </div>

        <div class="links">
            <a href="{% url 'to_user_detail' %}" class="link">{{ username }}</a>

        </div>

    </div>
      <div class="logo-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <img src="{% static 'assets/logo.png' %}">
            </div>
            <div class="login-card-header">
                <h1>Sign In</h1>
                <div>Please login to User management platform</div>
            </div>
            <form  action="{% url 'backstage_user_login' %}" method="POST" class="login-card-form">

                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded" >person</span>
                    <input type="text"  name="accont" placeholder="Enter account" required autofocus >
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="Password"  name="userpassword" placeholder="Enter Password" required >
                </div>
                <div class="form-item-other">
                    <div class="checkbox" >
                        <input type="checkbox" id="rememberMeCheckbox">
                        <label for="rememberMeCheckbox">Remember me</label>
                    </div>
                    <a href="#">I forget my Password</a>
                </div>

            <button type="submit" name="login_"/>Sign In</button>
            </form>
            <div class="login-card-footer">
                Don't have an account? &nbsp <a href="{% url 'signup' %}">Create a free account</a>
            </div>
        </div>
    </div>
{% endblock %}