{% extends 'base1.html' %}
{% load static %}
{% block body %}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="{% static 'css/backstage.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <div class="navbar">

        <div class="links">
           <a href="javascript:history.go(-1)" class="link">back</a>
        </div>


        <div class="links">
            <a href="{% url 'backstage_already_login' %}" class="link">Home</a>
            <a href="{% url 'to_User_Management' %}" class="link">用户管理</a>
            <a href="{% url 'to_Product_Management' %}" class="link">商品管理</a>
            <a href="{% url 'to_order_management' %}" class="link">订单管理</a>
        </div>

        <div class="links">
            <a href="{% url 'to_user_detail' %}" class="link">{{ username }}</a>

        </div>

    </div>
        <!-- End Sidebar -->

        <!-- Main -->
        <main class="main-container">
            <div class="main-title">
                <h2>DASHBOARD</h2>
            </div>

            <div class="main-cards">

                <div class="card">
                    <div class="card-inner">
                        <h3>PRODUCTS</h3>
                        <span class="material-icons-outlined">inventory_2</span>
                    </div>
                    <h1>494</h1>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <h3>order</h3>
                        <span class="material-icons-outlined">category</span>
                    </div>
                    <h1>2</h1>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <h3>CUSTOMERS</h3>
                        <span class="material-icons-outlined">groups</span>
                    </div>
                    <h1>2</h1>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <h3>ALERTS</h3>
                        <span class="material-icons-outlined">notification_important</span>
                    </div>
                    <h1>0</h1>
                </div>

            </div>


        </main>
        <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script>
        var sidebarOpen = false;
        var sidebar = document.getElementById("sidebar");

        function openSidebar() {
            if (!sidebarOpen) {
                sidebar.classList.add("sidebar-responsive");
                sidebarOpen = true;
            }
        }

        function closeSidebar() {
            if (sidebarOpen) {
                sidebar.classList.remove("sidebar-responsive");
                sidebarOpen = false;
            }
        }



        // ---------- CHARTS ----------

        // BAR CHART
        var barChartOptions = {
            series: [{
                data: [10, 8, 6, 4, 2],
                name: "Products",
            }],
            chart: {
                type: "bar",
                background: "transparent",
                height: 350,
                toolbar: {
                    show: false,
                },
            },
            colors: [
                "#2962ff",
                "#d50000",
                "#2e7d32",
                "#ff6d00",
                "#583cb3",
            ],
            plotOptions: {
                bar: {
                    distributed: true,
                    borderRadius: 4,
                    horizontal: false,
                    columnWidth: "40%",
                }
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                opacity: 1,
            },
            grid: {
                borderColor: "#55596e",
                yaxis: {
                    lines: {
                        show: true,
                    },
                },
                xaxis: {
                    lines: {
                        show: true,
                    },
                },
            },
            legend: {
                labels: {
                    colors: "#f5f7ff",
                },
                show: true,
                position: "top",
            },
            stroke: {
                colors: ["transparent"],
                show: true,
                width: 2
            },
            tooltip: {
                shared: true,
                intersect: false,
                theme: "dark",
            },
            xaxis: {
                categories: ["Laptop", "Phone", "Monitor", "Headphones", "Camera"],
                title: {
                    style: {
                        color: "#f5f7ff",
                    },
                },
                axisBorder: {
                    show: true,
                    color: "#55596e",
                },
                axisTicks: {
                    show: true,
                    color: "#55596e",
                },
                labels: {
                    style: {
                        colors: "#f5f7ff",
                    },
                },
            },
            yaxis: {
                title: {
                    text: "Count",
                    style: {
                        color: "#f5f7ff",
                    },
                },
                axisBorder: {
                    color: "#55596e",
                    show: true,
                },
                axisTicks: {
                    color: "#55596e",
                    show: true,
                },
                labels: {
                    style: {
                        colors: "#f5f7ff",
                    },
                },
            }
        };

        var barChart = new ApexCharts(document.querySelector("#bar-chart"), barChartOptions);
        barChart.render();
    </script>
    

    
</body>
{% endblock %}
